<h1><%= @candidate.name %></h1>
  <p>Email: <%= @candidate.email %></p>
  <p>Profile: <%= @candidate.profile %></p>
  <%= link_to 'Edit', edit_candidate_path(@candidate) %>
  <%= link_to 'Back', candidates_path %>
